/* "Div'sssss" */
header{
    position: relative;
    background-color: green;
    font-family: Cambria;
    font-size: 32px;
    text-align: center;
}

section{
    background: #F5F5F5;
    text-align: center;
    height: auto;
}

footer{
    background: green;
}

#verde{
    background-color: green;
    border-radius: 25%;
    width: 150px;
    height: 50px;
    margin-left: 40%;
    position: relative;
}

article{
    background-color: greenyellow;
   
}

#esconde{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
/* Image */
#logo{
    width: 135px;
    height: 150px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/* tabela */
#a{
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 75px;
    text-align: center;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 150px;
    height: 80px;

    text-align: center;
}
/* texto */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* etc */

#temp{
    margin-top: 0%;
    overflow: hidden;
}