/* "Div'sssss" */
header{
    position: relative;
    background-color: green;
    font-family: Cambria;
    font-size: 32px;
    text-align: center;
}

section{
    background: #F5F5F5;
    text-align: center;
    height: auto;
}

footer{
    background: green;
}

#verde{
    background-color: green;
    border-radius: 25%;
    width: 150px;
    height: 50px;
    margin-left: 40%;
    position: relative;
}

article{
    background-color: greenyellow;
   
}

#esconde{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
@media only screen and (max-width:1020px){
    .botoes{
        margin-left: 35%;
        background-color: #fff;
        width: 20%;
        height: 100%;
    }   
}
@media only screen and (min-width:1020px) and (max-width:1920px){
    .botoes{
        margin-left: 43.5%;
        background-color: #fff;
        width: 11%;
        height: 100%;
    }   
}
.botaoreg{
    background-color: #12B667 ;
    width: 200px;
    height:50px ;
    border-radius: 20%;
    position: relative;

}
.botaologin{
    background-color: #12B667 ;
    width: 200px;
    height:50px ;
    border-radius: 20%;
    margin-top: 2%;
    position: relative;
}
.botao{
    background-color: #12B667 ;
    width: 250px;
    height:70px ;
    border-radius: 20%;
    margin-top: 5%;
    position: relative;
    text-align: center;
    color: #fff
}

/* paleta de cores */
.pltv{
    background-color: #12b667;
    width: 75px ;
    height: 75px;
    position: absolute;
    overflow: hidden;
}
.pltc{
    background-color: #5ABEAA;
    width: 75px ;
    height: 75px;
    margin-left: 80px;
    position: absolute;
    overflow: hidden;

}
.pltp{
    background-color: #000;
    width: 75px ;
    height: 75px;
    margin-left: 160px;
    position: absolute;
    overflow: hidden;

}
.pltb{
    background-color: #fff;
    width: 75px ;
    height: 75px;
    margin-left: 240px;
    position: absolute;
    overflow: hidden;
}
/* Image */
#logo{
    width: 135px;
    height: 150px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.cari{
    width: 100%;
}
/* tabela */
#a{
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 75px;
    text-align: center;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 150px;
    height: 80px;

    text-align: center;
}
/* texto */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.textocor{
    position: relative;
    margin-top: 10%;
}
.central{
    text-align: center;
}
/* etc */

#temp{
    margin-top: 0%;
    overflow: hidden;
}