/* "Div'sssss" */
header{
    position: relative;
    background-color: green;
    font-family: Cambria;
    font-size: 32px;
    text-align: center;
}

section{
    background: #fff;
    text-align: center;
    height: auto;
}

footer{
    background: green;
    height: 06%;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

}
#esconde{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.frex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin: auto;
}
.teto{
    position: relative;
    background-color: green;
    font-family: Cambria;
    font-size: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;

}
.arruma{
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 70%;
    left: 15%;
    margin-top: 20%;
    position: relative;
}

/* paleta de cores */
.pltv{
    background-color: #6EC855;
    width: 10%;
    border: 3px solid #6EC855;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid black;
}
.pltc{
    background-color: #5ABEAA;
    width: 10%;
    border: 3px solid #5abeaa;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid black;
}
.pltp{
    background-color: #000;
    width: 10%;
    border: 3px solid #000;
    padding: 20px;
    padding-bottom: 50px;
    border: 2px solid black;
}
.pltb{
    background-color: #fff;
    width: 10%;
    border: 1px solid #000;
    padding: 20px;
    padding-bottom: 50px;
}
.pltvm{
    background-color: #C11B1F;
    width: 10%;
    border: 1px solid #000;
    padding: 20px;
    padding-bottom: 50px;
}
.pltv2{
    background-color: #12b667;
    width: 10%;
    border: 3px solid #12b667;
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid black;
}

/* Image */
#logo{
    width: 270px;
    height: 300px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: static;
}
.tf{
    height: 200px;
    width: 500px;
    margin-top: 5%;
    position: static;
}
.folha{
    width: 110px;
    height: 125px;
    margin: auto;
}
.pato{
    width: 125px;
    height: 125px;
    margin: auto;
}
/* tabela */
#a{
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 75px;
    text-align: center;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 150px;
    height: 80px;

    text-align: center;
}
/* texto */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.lado{
    text-align: right;
    position: relative;
    font-size: 32px;
}
.bot{
    display: flex;
    justify-content: space-around;
    font-size: inherit;
    width: 100%;
    height: 50%;
}
/* responsividade */
@media only screen and (max-width: 440px){
    .arruma{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        left: 0%;
        margin-left: 0%;
        margin-top: 30%;
    }
    #logo{
        width: 270px;
        height: 300px;
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: static;
    }
    .tf{
        height: 100px;
        width: inherit;
        margin-top: 0%;
        position: static;
    }
    .lado{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 25px;
        margin-right: 0%;
    }
    .bot{
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        width: 100%;
        height: 50%;
    }
    .teto{
        position: relative;
        background-color: green;
        font-family: Cambria;
        font-size:xx-large;
        height: 100px;
        width: 100%;

    }
    #esconde{
        top: 0%;
        left: 0%;
        position: absolute;
        width: auto;
        height: 100%;
        background-color: #fff;
    }
}
@media only screen and (max-width: 1060px){

}
.central{
    text-align: center;
    font-size: 32px;
}
